:root {
  --teal: #11A584;
  --teal-dark: #109A7C;
  --teal-light: #14BB97;
}

.App {
  text-align: center;
  height: 100vh;
}
header {
  justify-self: start;
}
header, footer {
  padding: 1em 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--teal);
  color: white
}
footer {
  justify-self: end;
}

button, .button {
  background-color: var(--teal);
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 3px black;
  color: white
}

button:hover, .button:hover {
  background-color: var(--teal-dark);
}
button:active, .button:active {
  background-color: var(--teal-light);
  box-shadow: 0 0 2px black;

}


.nav-button {
  color: white;
  height: 2em;
  width: 2em;
}

.Home {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feed {
  padding: 0.25em 1em 0 1em;
}
.card-big {
  border: 1px solid whitesmoke;
  border-radius: 1em;
  padding: 0.5em;
}

.card-small {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--teal-light);
  border-radius: 1em;
  padding: 0.5em 2em;
  margin: 0.5em 1em;
}

.card-small a {
  text-decoration: none;
  color: black;
}

.card-small img {
  height: 75px;
  width: 75px;
  object-fit: cover;
  border-radius: 90px;
  margin-right: 1.5em;
}

.card-small .left {
  text-align: left;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.card-small .right {
  width: 45%;
}

.profile-toggle div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2em;
  border-bottom: 1px solid var(--teal-light);
  background-color: var(--teal-light);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
div .active {
  background-color: var(--teal-dark);
}

.GroupSearch {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-results {
  overflow: scroll;
  height: 80vh;
}

.group-form label{
  margin-top: 1.5em;
}

.group-info {
  text-align: left;
  padding: 0.5em 1em;
}

.Participants {
  width: 30%;
}

.Participants div {
  display: flex;
  justify-content: space-around;
}

.Participants img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 90px;
}
